<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanhuage.mapper.FlowerMapper">

    <resultMap id="BaseResultMap" type="com.fanhuage.domain.Flower">
            <id property="fid" column="fid" jdbcType="INTEGER"/>
            <result property="fname" column="fname" jdbcType="VARCHAR"/>
            <result property="fnum" column="fnum" jdbcType="INTEGER"/>
            <result property="fprice" column="fprice" jdbcType="DECIMAL"/>
            <result property="fstatus" column="fstatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        fid,fname,fnum,
        fprice,fstatus
    </sql>
</mapper>
